<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onRegister()">
    <ion-item>
      <ion-label position="floating">Nombre Completo</ion-label>
      <ion-input [(ngModel)]="nombreCompleto" name="nombreCompleto" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">RUT</ion-label>
      <ion-input [(ngModel)]="rut" name="rut" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="correoElectronico" name="correoElectronico" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Número Telefónico</ion-label>
      <ion-input [(ngModel)]="numeroTelefonico" name="numeroTelefonico" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="contrasena" name="contrasena" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Crear Cuenta</ion-button>
  </form>
</ion-content>




